<select style="width:190px;" id="gift" name="enforcement[gift_product_id]">
    <option value=""></option>
    <% @result.each do |r| %>
        <option value="<%= r.id %>"><%= r.name %></option>
    <% end %>
</select>
