<div class="row no_print">
  <a href="/enforcements" class="col-xs-3 btn btn-danger">戻る</a>
</div>
<div class="row no_print">
  <div class="col-xs-4 col-xs-offset-4 text-center"><h2>施行済み葬儀・編集</h2></div>
</div>

<%= render 'form', enforce: @enforce %>