<h1>Updateinfo#index</h1>
<ul>
    <li>β 0.1.0 メインページ修正 2017-11-10</li>
    <li>β 0.1.1 会員、家族DB修正 2017-11-11 <img src="https://i.gyazo.com/e7c11f255013a7adf5b326c916c1743e.png"></li>
</ul>

<h2>Problem</h2>
<ul>
    <li>2017-11-11 家族情報は会員登録後に追加できるようにしても良いか？</li>
    <li>2017-11-11 家族情報に性別、電話番号は不要か？</li>
    <li>2017-11-11 namekanaカラムは入力された文字を全て全角カナに変換して保存</li>
    <li>2017-11-11 郵便、電話番号のハイフンの削除(文字列だが半角数字)</li>
    <li>2017-11-11 管理者権限を3段階（予定）</li>
    <li>2017-11-11 付箋（タグ）はメモと思ってよいのか？</li>
</ul>