<div class="row">
  <a href="/ledgers" class="col-xs-3 btn btn-danger">戻る</a>
  <div class="col-xs-3 col-xs-offset-6 btn btn-danger">印刷</div>
</div>
<div class="row">
  <div class="col-xs-4 col-xs-offset-4 text-center"><h2>葬儀売上原価・情報修正</h2></div>
</div>

<%= render "form", ledger: @ledger, eanings: @eanings, costs: @costs %>

