<select name="altar[altaritems_attributes][<%= @number %>][item_id]" id="altar_altaritems_attributes_<%= @number %>_item_id">
    <option value=""></option>
    <% @result.each do |r| %>
        <option value="<%= r.id %>"><%= r.name %></option>
    <% end %>
</select>
