@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap-datetimepicker';

.spacer {
  padding-top: 15px;
}

.underspacer{
  padding-bottom:15px;
}
.large {
  font-size: 20px; }

.field_with_errors input{
  border: 1px solid #f00;
}

.table-bordered td.no-wrap{
  border-bottom:hidden;
  border-top:hidden;
  border-right:hidden;
}

  .left_column{
    width:95px;
  }
  ._small{
    font-size:12px;
  }
  
@media print{
  .no_print{
      display: none;
  }
  a[href]:after {
    content: "";
  }
  abbr[title]:after {
    content: "";
  }
}