<div class="row">
  <a href="/" class="col-xs-3 btn btn-danger">戻る</a>
  <div class="col-xs-3 col-xs-offset-6 btn btn-danger">印刷</div>
</div>
<div class="row">
  <div class="col-xs-4 col-xs-offset-4 text-center"><h2>仕入先別原価表</h2></div>
</div>

<div class="row">
  <div class="col-sm-2 col-sm-offset-3 btn btn-default">検索</div>
  <%= link_to "新規登録", "#",class: "col-sm-2 col-sm-offset-2 btn btn-default"%>
</div>