<div class="row">
  <a href="/reports" class="col-xs-3 btn btn-danger">戻る</a>
</div>
<div class="row">
  <div class="col-xs-4 col-xs-offset-4 text-center"><h2>受発注報告・編集登録</h2></div>
</div>

<%= render "form" , report: @report,member: @member %>
