<div class="row">
  <div class="col-sm-3">
    <h2>関係者情報</h2>
  </div>
  <div class="col-sm-9">
    <span class="btn btn-danger" data-toggle="modal" data-target="#relationForm">追加</span>
    <% if @relationships.present? %>
      <table class="table table-bordered table-sortable2 ui-sortable">
        <thead>
          <tr>
            <th>名前</th>
            <th>備考</th>
          </tr>
        </thead>
        <tbody>
        <% @relationships.each do |r| %>
          <tr class="item" data-model-name="member" data-update-url="<%= sort_member_path(r.id) %>">
            <td><%= link_to r.lastname + " " + r.firstname, edit_member_path(r) %></td>
            <td><%= user.relationships.find_by(member2_id: r.id).text %></td>
            <!--<td><%#= r.row_order %></td>-->
          </tr>
        <% end %>
    <%end %>
        </tbody>
      </table>
  </div>
</div>