<table id="infinity">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody class="page">
    <%= render @members %>
  </tbody>
</table>

<%= paginate @members, remote: true, param_name: :hoge_page %> 

