<div class="row">
  <div class="col-xs-2 text-center">
    <div><a href="./" class="btn btn-danger">戻る</a></div>
  </div>
  <div class="col-xs-2 col-xs-offset-8 text-center">
  </div>
</div>
<h2 class="text-center">会員・新規登録</h2>
<%= render "shared/memberform", member: @member %>