<div class="row">
  <a href="/members" class="col-xs-3 btn btn-danger">戻る</a>
  <div class="col-xs-4 col-xs-offset-1 text-center"></div>
</div>

<h2 class="text-center">会員・新規登録</h2>
<%= render "shared/memberform", member: @member %>