<h2>新規会員登録</h2>
<form>
  <div class="form-group">
    <div class="row">
      <div class="col-xs-6">
        <label>氏名</label>
        <input type="text" class="form-control input-sm">
      </div>
      <div class="col-xs-6">
        <label>カナ</label>
        <input type="text" class="form-control input-sm">
      </div>
    </div>
  </div>
  
  <div class="form-group">
    <div class="row">
      <div class="col-xs-12">
        <label>住所１</label>
        <input type="text" class="form-control input-sm">
      </div>
    </div>
  </div>
  
  <div class="form-group">
    <div class="row">
      <div class="col-xs-12">
        <label>住所２</label>
        <input type="text" class="form-control input-sm">
      </div>
    </div>
  </div>
  
  <div class="form-group">
    <div class="row">
      <div class="col-xs-6">
        <label>TEL</label>
        <input type="text" class="form-control input-sm">
      </div>
    </div>
  </div>  

  <div class="form-group">
    <div class="row">
      <div class="col-xs-6">
        <label>宗派</label>
        <select class="form-control input-sm">
        </select>
      </div>
      <div class="col-xs-6">
        <label>会種</label>
        <select class="form-control input-sm">
        </select>
      </div>
    </div>
  </div>  

  <div class="form-group">
    <div class="row">
      <div class="col-xs-12">
        <label>備考</label>
        <textarea class="form-control"></textarea>
      </div>
    </div>
  </div>  
  <div class="form-group">
    <button type="submit" class="btn btn-primary">submit</button>
  </div>
</form>